<div class="modal-header">
 <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
     Login
</div>
<form>
<div class="modal-body">
  <div class="form-group">
    <input type="text" placeholder="adresa e-mail" name="email" [(ngModel)]="currentUser.email" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" placeholder="parola" class="form-control" name="password" [(ngModel)]="currentUser.password">
  </div>
</div>
<div class="modal-footer text-center">
  <input type="submit" class="btn btn-default" (click)="userLogin()" value="Login">
  
</div>
</form>