<div class="modal-header">
 <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
     <h4 class="modal-title">Creeaza cont nou</h4>
</div>
<div class="modal-body">
  <div class="callout callout-danger" *ngIf="userAccountService.authError">{{ userAccountService.authError }}</div>
    <form #myForm="ngForm" novalidate>
      
      <div class="form-group has-feedback">
        <input type="text" placeholder="prenume" name="prenume" [(ngModel)]="currentUser.firstName" required class="form-control">
      </div>
      <div class="form-group has-feedback">
        <input type="text" placeholder="nume" name="nume" [(ngModel)]="currentUser.lastName" required class="form-control">
      </div>
      <div class="form-group has-feedback">
        <input type="text" placeholder="adresa e-mail" name="email" [(ngModel)]="currentUser.email" required class="form-control">
      </div>
      <div class="form-group has-feedback">
        <input type="password" placeholder="parola" class="form-control" name="password" required [(ngModel)]="currentUser.password">
      </div>
      <div class="form-group has-feedback">
        <input type="password" placeholder="repeta parola" class="form-control" name="password2" required [(ngModel)]="currentUser.password2">
      </div>

      <div class="form-group">
        <div class="row">
          <md-radio-group name="showDetails" [(ngModel)]="subscribeAll">
            <div class="col-md-6">
            <md-radio-button [value]="true">Vreau sa primesc propunerile legislative in dezbatere publica prin e-mail saptamanal.</md-radio-button>
            </div>
            <div class="col-md-6">
            <md-radio-button [value]="false">Vreau sa selectez institutiile de la care primesc e-mail saptamanal.</md-radio-button>
            </div>
          </md-radio-group>

        </div>
      </div>
      
      <fieldset *ngIf="!subscribeAll">
        <legend style="margin-bottom:0px;">Institutii de interes</legend>
        <div class="small" style="margin-bottom:15px">Selectati institutiile pentru care doriti sa fiti notificat.</div>
        <div class="container-fluid login-inst-fieldset">
          <div class="col-md-6" *ngFor="let item of institutions; let index = index">
            <md-checkbox>{{item.name}}</md-checkbox>
          </div>
        </div>
        <hr />
      </fieldset>
      
      <div class="text-center">
        <re-captcha language="ro" site_key="6LenoA0UAAAAALsqEBPPeqyeh_3ea0XsrhgsAhl7"></re-captcha>
      </div> 
    </form>
</div>
<div class="modal-footer">
  <button type="submit" (click)="userRegister()" class="btn btn-primary btn-block btn-flat">Creeaza cont</button>
</div>
