<section class="proposals">
  <div *ngIf="(http.loading | async) > 0" class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>

  <div class="container main-content">
    <div class="proposals-title">Propuneri legislative <span *ngIf="!showSearch">noi</span></div>

    <form (submit)="refreshData(0)" #myForm="ngForm">
      <div class="search-form" *ngIf="showSearch">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-feedback">
              <input type="text" name="filter" placeholder="cauta propunere" [(ngModel)]="filterQuery" class="form-control proposal-search-input"
              />
              <button class="btn btn-default form-control-feedback proposal-search-button" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <select name="institution" class="form-control proposal-search-dropdown">
        <option value="">- selecteaza institutie -</option>
        <option *ngFor="let item of institutions" value="{{item.id}}">{{item.name}}</option>
        </select>
            </div>
          </div>
          <div class="col-sm-8 text-right">
            <app-pager *ngIf="showSearch" [instance]="pagerInstance" (onPageChange)="refreshData($event)"></app-pager>
          </div>
        </div>
      </div>
    </form>


    <div class="proposal" *ngFor="let item of items">
      <div class="proposal-title">
        <a [href]="item.link" target="_blank">{{item.title}}</a>
      </div>

      <div class="proposal-left">
        <div class="proposal-institution">
          {{item.institution.name}} <span *ngIf="item.institution.name !== item.initiatingInstitution.name">/ {{item.initiatingInstitution.name}}</span>
        </div>

        <div class="proposal-date" *ngIf="item.startDate">
          Data publicarii: {{item.startDate | amDateFormat:'DD.MM.YYYY'}}
        </div>
        <div class="proposal-date" *ngIf="item.endDate">
          Data incheierii dezbaterii publice: {{item.endDate | amDateFormat:'DD.MM.YYYY'}}
        </div>
      </div>
      <div class="proposal-links">
        <a *ngIf="item.email" class="btn btn-primary" href="mailto:{{item.email}}"><i class="fa fa-lg fa-edit"></i> Propune modificari</a>
      </div>

      <hr style="clear:both; " />

    </div>
    <div class="text-center">
      <app-pager *ngIf="showSearch" [instance]="pagerInstance" (onPageChange)="refreshData($event)"></app-pager>
    </div>

  </div>
</section>