<div class="container">
    <form (submit)="refreshData(0)" #myForm="ngForm">

<div class="row">
  <div class="form-group">
      <input type="text" name="filter" [(ngModel)]="filterQuery" class="form-control">
  </div>
    <div class="form-group">
    <select name="institution" class="form-control">
    <option value="">- selecteaza institutie -</option>
    <option *ngFor="let item of institutions" value="{{item.id}}">{{item.name}}</option>
    </select>
    </div>
</div>
<button class="btn btn-default" type="submit">Submit</button>
  </form>

<table class="table table-striped">
<tr>
  <th>Institutie</th>
  <th>Titlu</th>
</tr>
<tr *ngFor="let item of items">
 <td>
  {{item.institution.name}}
  </td>
  <td style="height:60px; overflow:hidden">
  {{item.title}}
  </td>
</tr>
</table>
</div>